.container {
    background-color: antiquewhite;
    position: relative;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    transition: all 0.5s 0.4s ease-in;
}

.timeWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;
}

.hideTimeWrapper {
    top: -100%;
}

.topWrap {
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    color: white;
}

.lockIcon svg {
    height: 3rem;
    width: 3rem;
}

.lockTime {
    font-size: 3rem;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 600;
}

.lockDate {
    font-size: 1.2rem;
    font-weight: 500;
}

.middleWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 100%);
    text-align: center;
}

.middleText {
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
}

.middleArrows {
    margin-top: 10px;
}

.middleArrow svg {
    height: 2rem;
    width: 2rem;
}

.middleArrow {
    opacity: 0;
    color: rgba(255, 255, 255, 0.35);
    animation: blink 1.2s ease-in infinite forwards;
}

@keyframes blink {
    0% {
        opacity: 0;
        color: rgba(255, 255, 255, 0.35);
    }

    25%,
    75% {
        opacity: 1;
        color: rgb(255, 255, 255);
    }

    100% {
        opacity: 1;
        color: rgba(255, 255, 255, 0.35);
        animation-timing-function: ease-out;
    }
}

.middleArrowTwo {
    margin-top: -20px;
    animation-delay: 65ms;
}

.bottomWrap {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.bottomIcons {
    display: flex;
    gap: .8rem;
    justify-content: center;
    align-items: center;
}

.bottomIcons svg {
    height: 2rem;
    width: 2rem;
}

.login {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    transition: all 0.4s ease-in-out;
}

.showLogin {
    top: 0;
}
.loginWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 10rem;
}
.loginAvatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.301) ;
}
.loginText {
    color: white;
    font-family: "Sora", sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
.loginButton {
    position: relative;
    z-index: 10;
}
.backArrow {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}
.backArrow svg {
    height: 2rem;
    width: 2rem;
}