.container {
    width: 100%;
    height: 100%;
    position: relative;
    animation: fadeIn 500ms 1 forwards;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.dock {
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    margin: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}
.dockSingle {
    width: fit-content;
    height: 3.5rem;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    transition: all 0.5s ease-in-out;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 0.5rem;
    gap: 2px;
    z-index: 100;
}
.dockSingle svg {
    height: 2rem;
    width: 2rem;
}
.dockSingle.apps {
    min-width: 200px;
}
.infoAvatar {
    background-color: yellow;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    overflow: hidden;
}
.info {
    gap: 5px;
}
.infoDate {
    font-size: 0.7rem;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}
.infoTime {
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Andada Pro', serif;
}
.iconSingle {
    padding: 0.2rem;
    border-radius: 7px;
}
.iconSingle:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.253);
}
.utils.dockSingle svg {
    height: 1.5rem;
    width: 1.5rem;
}