.container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
}
.shortcuts {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(14, minmax(60px, 1fr));
    grid-template-rows: repeat(8, minmax(60px, 1fr));
    grid-auto-flow: column dense;
    grid-gap: 10px;
    cursor: default;
    padding: 8px;
}